/RUNNING_PID
build
logs
/project/*-shim.sbt
/project/project/
*~
.DS_Store
scratchpad
target
tmp
.idea*
.classpath
.project
.settings
shared/.js
shared/.jvm
.~*
journal
snapshots
docker/*.zip
.gradle
*.iml
